{% extends "coderedcms/pages/web_page.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">Artistic Prints</h1>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered text-center">
                            <thead class="text-center">
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    {% comment %} <th>Description</th> {% endcomment %}
                                    <th>Price</th>
                                    <th>Size</th>
                                    <th>Type</th>
                                    <th>Payment Link</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                {% for print in prints_info %}
                                <tr class="align-middle">
                                    <td>
                                        <img src="{{ print.image_url }}" alt="{{ print.name }}" class="img-fluid" style="max-width: 300px;">
                                    </td>
                                    <td>{{ print.name }}</td>
                                    {% comment %} <td>{{ print.description }}</td> {% endcomment %}
                                    <td>{{ print.price }}</td>
                                    <td>{{ print.size }}</td>
                                    <td><pre>{{ print.type }}</pre></td>
                                    <td>
                                        <a href="{{ print.payment_link }}" class="btn btn-primary" target="_blank">Buy</a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
