{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- Begin Loader -->
    <div class="loader" data-background-color="#000000" data-text-color="#ffffff">
        <p>LOADING</p>
        <span class="circle"></span>
    </div>
    <!-- End Loader -->



    <!-- Begin Header -->
    <header>

        <a href="index.html" class="logo-container">
            <p>Perspective Perfection</p>
        </a>

    {% include 'nav_bar.html' %}

        <a href="#" class="mobile-navigation icon3-list2"></a>

    </header>
    <!-- End Header -->


    <!-- Begin Content -->
    <div class="main-container with-padding">

        <!-- Begin Wrapper -->
        <div class="wrapper">

            <!-- Begin Inner Wrapper -->
            <div class="inner-wrapper">

                <!-- Begin Blog -->
                <div class="blog style-2 fullwidth">

                    <div class="container">

                        <div class="row">
                            <div class="col full">
                                <div class="filters clearfix">

                                    <p>FILTERS</p>
                                    <a href="#" data-filter="*" class="active">ALL</a>
                                    <a href="#" data-filter=".filter-indoors">INDOORS</a>
                                    <a href="#" data-filter=".filter-outdoors">OUTDOORS</a>
                                    <a href="#" data-filter=".filter-models">MODELS</a>
                                    <a href="#" data-filter=".filter-portraits">PORTRAITS</a>
                                    <a href="#" data-filter=".filter-fashion">FASHION</a>

                                </div>
                            </div>
                        
                        </div>

                        <div class="articles clearfix cols-3">







                            <div class="article filter-indoors filter-models">

                                <div class="article-cont">

                                    <a href="blog_single_fullwidth"><img class="lazy" data-original="images/gallery/g7_1.png" alt="" data-width="475" data-height="370"></a>

                                    <div class="header clearfix">

                                        <h5><a href="blog_single_fullwidth.html">STANDARD BLOG POST</a></h5>
                                        <p class="cat">
                                            <a href="#">MODELS</a>,
                                            <a href="#">INDOORS</a>
                                        </p>
                                        <p class="date"><a href="#">JULY 3RD, 2014</a></p>

                                    </div>

                                    <div class="content">
                                        <p>Vestibulum tellus risus, pretium et facilisis neporta in felis. Nullm fermentum, lorem nec drtincidunt tempus, lectus venenatis nisi, quis ultrices tortor arcu.</p>
                                    </div>

                                </div>
                                
                            </div>







                            <div class="article filter-outdoors filter-models filter-fashion">

                                <div class="article-cont">
                                    
                                <a href="blog_single_fullwidth"><img class="lazy" data-original="images/gallery/g7_1.png" alt="" data-width="475" data-height="370"></a>

                                <div class="header clearfix">

                                    <h5><a href="blog_single_fullwidth.html">STANDARD BLOG POST</a></h5>
                                    <p class="cat">
                                        <a href="#">MODELS</a>,
                                        <a href="#">INDOORS</a>
                                    </p>
                                    <p class="date"><a href="#">JULY 3RD, 2014</a></p>

                                </div>

                                <div class="content">
                                    <p>Vestibulum tellus risus, pretium et facilisis neporta in felis. Nullm fermentum, lorem nec drtincidunt tempus, lectus venenatis nisi, quis ultrices tortor arcu.</p>
                                </div>
                                
                                </div>

                            </div>







                            <div class="article filter-indoors filter-models">

                                <div class="article-cont">
                                    
                                <a href="blog_single_fullwidth"><img class="lazy" data-original="images/gallery/g7_1.png" alt="" data-width="475" data-height="370"></a>

                                <div class="header clearfix">

                                    <h5><a href="blog_single_fullwidth.html">STANDARD BLOG POST</a></h5>
                                    <p class="cat">
                                        <a href="#">MODELS</a>,
                                        <a href="#">INDOORS</a>
                                    </p>
                                    <p class="date"><a href="#">JULY 3RD, 2014</a></p>

                                </div>

                                <div class="content">
                                    <p>Vestibulum tellus risus, pretium et facilisis neporta in felis. Nullm fermentum, lorem nec drtincidunt tempus, lectus venenatis nisi, quis ultrices tortor arcu.</p>
                                </div>
                                
                                </div>

                            </div>





                            

                            <div class="article filter-outdoors">

                                <div class="article-cont">
                                    
                                <a href="blog_single_fullwidth"><img class="lazy" data-original="images/gallery/g7_1.png" alt="" data-width="475" data-height="370"></a>

                                <div class="header clearfix">

                                    <h5><a href="blog_single_fullwidth.html">STANDARD BLOG POST</a></h5>
                                    <p class="cat">
                                        <a href="#">MODELS</a>,
                                        <a href="#">INDOORS</a>
                                    </p>
                                    <p class="date"><a href="#">JULY 3RD, 2014</a></p>

                                </div>

                                <div class="content">
                                    <p>Vestibulum tellus risus, pretium et facilisis neporta in felis. Nullm fermentum, lorem nec drtincidunt tempus, lectus venenatis nisi, quis ultrices tortor arcu.</p>
                                </div>
                                
                                </div>

                            </div>

                            <div class="article filter-indoors filter-models">

                                <div class="article-cont">
                                    
                                <a href="blog_single_fullwidth"><img class="lazy" data-original="images/gallery/g7_1.png" alt="" data-width="475" data-height="370"></a>

                                <div class="header clearfix">

                                    <h5><a href="blog_single_fullwidth.html">STANDARD BLOG POST</a></h5>
                                    <p class="cat">
                                        <a href="#">MODELS</a>,
                                        <a href="#">INDOORS</a>
                                    </p>
                                    <p class="date"><a href="#">JULY 3RD, 2014</a></p>

                                </div>

                                <div class="content">
                                    <p>Vestibulum tellus risus, pretium et facilisis neporta in felis. Nullm fermentum, lorem nec drtincidunt tempus, lectus venenatis nisi, quis ultrices tortor arcu.</p>
                                </div>
                                
                                </div>

                            </div>

                            <div class="article filter-indoors filter-models">

                                <div class="article-cont">
                                    
                                <a href="blog_single_fullwidth"><img class="lazy" data-original="images/gallery/g7_1.png" alt="" data-width="475" data-height="370"></a>

                                <div class="header clearfix">

                                    <h5><a href="blog_single_fullwidth.html">STANDARD BLOG POST</a></h5>
                                    <p class="cat">
                                        <a href="#">MODELS</a>,
                                        <a href="#">INDOORS</a>
                                    </p>
                                    <p class="date"><a href="#">JULY 3RD, 2014</a></p>

                                </div>

                                <div class="content">
                                    <p>Vestibulum tellus risus, pretium et facilisis neporta in felis. Nullm fermentum, lorem nec drtincidunt tempus, lectus venenatis nisi, quis ultrices tortor arcu.</p>
                                </div>
                                
                                </div>

                            </div>

                            <div class="article filter-indoors filter-portraits">

                                <div class="article-cont">
                                    
                                <a href="blog_single_fullwidth"><img class="lazy" data-original="images/gallery/g7_1.png" alt="" data-width="475" data-height="370"></a>

                                <div class="header clearfix">

                                    <h5><a href="blog_single_fullwidth.html">STANDARD BLOG POST</a></h5>
                                    <p class="cat">
                                        <a href="#">MODELS</a>,
                                        <a href="#">INDOORS</a>
                                    </p>
                                    <p class="date"><a href="#">JULY 3RD, 2014</a></p>

                                </div>

                                <div class="content">
                                    <p>Vestibulum tellus risus, pretium et facilisis neporta in felis. Nullm fermentum, lorem nec drtincidunt tempus, lectus venenatis nisi, quis ultrices tortor arcu.</p>
                                </div>
                                
                                </div>

                            </div>

                            <div class="article filter-indoors filter-models">

                                <div class="article-cont">
                                    
                                <a href="blog_single_fullwidth"><img class="lazy" data-original="images/gallery/g7_1.png" alt="" data-width="475" data-height="370"></a>

                                <div class="header clearfix">

                                    <h5><a href="blog_single_fullwidth.html">STANDARD BLOG POST</a></h5>
                                    <p class="cat">
                                        <a href="#">MODELS</a>,
                                        <a href="#">INDOORS</a>
                                    </p>
                                    <p class="date"><a href="#">JULY 3RD, 2014</a></p>

                                </div>

                                <div class="content">
                                    <p>Vestibulum tellus risus, pretium et facilisis neporta in felis. Nullm fermentum, lorem nec drtincidunt tempus, lectus venenatis nisi, quis ultrices tortor arcu.</p>
                                </div>
                                
                                </div>

                            </div>

                            <div class="article filter-outdoors filter-fashion">
                                <div class="article-cont">
                                        
                                    <a href="blog_single_fullwidth"><img class="lazy" data-original="images/gallery/g7_1.png" alt="" data-width="475" data-height="370"></a>

                                    <div class="header clearfix">

                                        <h5><a href="blog_single_fullwidth.html">STANDARD BLOG POST</a></h5>
                                        <p class="cat">
                                            <a href="#">MODELS</a>,
                                            <a href="#">INDOORS</a>
                                        </p>
                                        <p class="date"><a href="#">JULY 3RD, 2014</a></p>

                                    </div>

                                    <div class="content">
                                        <p>Vestibulum tellus risus, pretium et facilisis neporta in felis. Nullm fermentum, lorem nec drtincidunt tempus, lectus venenatis nisi, quis ultrices tortor arcu.</p>
                                    </div>
                                
                                </div>
                            </div>
                            
                        </div>

                    </div>

                </div>
                <!-- End Blog -->

            </div>
            <!-- End Inner Wrapper -->

        </div>
        <!-- End Wrapper -->

    </div>
    <!-- End Content -->
{% endblock content %}