{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include 'loader.html' %}

    <!-- Begin Header -->
    <header>

        <a href="index.html" class="logo-container">
            <p>Perspective Perfection</p>
        </a>

{% include 'nav_bar.html' %}

        <a href="#" class="mobile-navigation icon3-list2"></a>

    </header>
    <!-- End Header -->


    <!-- Begin Content -->
    <div class="main-container with-padding">

        <!-- Begin Wrapper -->
        <div class="wrapper">

            <!-- Begin Horizontal Gallery -->
            <div class="gallery-h centered">

                <div class="nav">
                    <a href="#" class="prev icon4-leftarrow23"></a>
                    <a href="#" class="next icon4-chevrons"></a>
                </div>

                <div class="gallery clearfix">

                    <div class="container">

                        <div class="img">
                            <a href="images/gallery/g5_1.png" rel="gallery">
                                <img class="lazy" data-original="images/gallery/g5_1.png" alt="" data-width="550" data-height="785">
                            </a>
                        </div>

                        <div class="img">
                            <a href="images/gallery/g5_1.png" rel="gallery">
                                <img class="lazy" data-original="images/gallery/g5_1.png" alt="" data-width="550" data-height="785">
                            </a>
                        </div>

                        <div class="img">
                            <a href="images/gallery/g5_1.png" rel="gallery">
                                <img class="lazy" data-original="images/gallery/g5_1.png" alt="" data-width="550" data-height="785">
                            </a>
                        </div>

                        <div class="img active">
                            <a href="images/gallery/g5_1.png" rel="gallery">
                                <img class="lazy" data-original="images/gallery/g5_1.png" alt="" data-width="550" data-height="785">
                            </a>
                        </div>

                        <div class="img">
                            <a href="images/gallery/g5_1.png" rel="gallery">
                                <img class="lazy" data-original="images/gallery/g5_1.png" alt="" data-width="550" data-height="785">
                            </a>
                        </div>

                        <div class="img">
                            <a href="images/gallery/g5_1.png" rel="gallery">
                                <img class="lazy" data-original="images/gallery/g5_1.png" alt="" data-width="550" data-height="785">
                            </a>
                        </div>

                    </div>

                </div>

            </div>
            <!-- End Horizontal Gallery -->

        </div>
        <!-- End Wrapper -->

    </div>
    <!-- End Content -->


    <!-- Begin Footer -->
    <footer>

        <p class="copyrights">© Perspective Perfection | ALL RIGHTS RESERVED</p>

        <div class="social-networks clearfix">
            <a href="#">
                <span>FACEBOOK</span>
                <i class="facebook-icon icon1-facebook"></i>
            </a>
            <a href="#">
                <span>TWITTER</span>
                <i class="twitter-icon icon1-twitter"></i>
            </a>
            <a href="#">
                <span>PINTEREST</span>
                <i class="pinterest-icon icon3-pinterest"></i>
            </a>
            <a href="#">
                <span>INSTAGRAM</span>
                <i class="instagram-icon icon3-instagram"></i>
            </a>
        </div>

    </footer>
    <!-- End Footer -->


{% endblock content %}