{% extends 'base.html' %}

{% load static %}

{% block content %}

{% include 'loader.html' %}

    <!-- Begin Header -->
    <header>

        <a href="{% url 'home:main' %}" class="logo-container">
            <p>Perspective Perfection</p>
        </a>

{% include 'nav_bar.html' %}

        <a href="#" class="mobile-navigation icon3-list2"></a>

    </header>
    <!-- End Header -->


    <!-- Begin Content -->
    <div class="main-container with-padding">

        <!-- Begin Wrapper -->
        <div class="wrapper">

            <!-- Begin Inner Wrapper -->
            <div class="inner-wrapper">

                <!-- Begin Portfolio -->
                <div class="portfolio-single style-2">
                    <div class="content-inner clearfix">

                        <div class="header">
                            <h4>{{ profiles.name }}</h4>
                            <span>MODELS, INDOORS</span>
                        </div>

                        <div class="content">

                            <div class="row">
                                <div class="col full">

                                    <p>{{ profiles.message }}</p>

                                </div>
                            </div>

                            <div class="divider" style="height:20px;"></div>

                            <div class="row">

                                <div class="col one-fourth">
                                    <div class="info-box">
                                        <p class="desc">CLIENT</p>
                                        <p class="info">{{ profiles.client }}</p>
                                    </div>

                                    <div class="info-box">
                                        <p class="desc">SOCIAL MEDIA</p>
                                        <p class="info"><a href="{{ profiles.social }}">- PROFILE -</a></p>
                                    </div>

                                    <div class="info-box">
                                        <p class="desc">PHOTOGRAPHER</p>
                                        <p class="info">{{ profiles.photographer }}</p>
                                    </div>

                                    <div class="info-box">
                                        <p class="desc">CAMERA</p>
                                        <p class="info">{{ profiles.camera }}</p>
                                    </div>

                                    <div class="info-box">
                                        <p class="desc">DATE</p>
                                        <p class="info">{{ profiles.date }}</p>
                                    </div>

                                    <div class="info-box">
                                        <p class="desc">CATEGORY</p>
                                        <p class="info">MODELS, INDOORS</p>
                                    </div>

                                    <div class="info-box">
                                        <p class="desc">Photo 1</p>
                                        <p class="info"><a href="{{ profiles.full.url }}">Download</a></p>
                                    </div>

                                    <div class="info-box">
                                        <p class="desc">Photo 2</p>
                                        <p class="info"><a href="{{ profiles.full2.url }}">Download</a></p>
                                    </div>

                                    <div class="info-box">
                                        <p class="desc">Photo 3</p>
                                        <p class="info"><a href="{{ profiles.full3.url }}">Download</a></p>
                                    </div>
                                </div>

                                <div class="col three-fourth">

                                    <div class="flexslider clearfix">

                                        <ul class="slides">

                                            <li>
                                                <img src="{{ profiles.full.url }}">
                                            </li>

                                            <li>
                                                <img src="{{ profiles.full2.url }}">
                                            </li>

                                            <li>
                                                <img src="{{ profiles.full3.url }}">
                                            </li>

                                        </ul>

                                        <div class="nav">

                                            <a href="#" class="next"></a>
                                            <a href="#" class="prev"></a>

                                        </div>
                                    </div>

                                </div>
                                <div class="clear"></div>

                            </div>

                            <div class="divider" style="height:20px;"></div>

                            <div class="row">
                                <div class="col full">
                                    <img class="lazy" data-original="{{ profiles.featureImg.url }}" alt="" data-width="1920" data-height="965">

                                </div>
                            </div>

                            <div class="divider" style="height:40px;"></div>

                            <div class="row">
                                <div class="col full">

                                    <p>{{ profiles.featureInfo }}</p>

                                </div>
                            </div>

                            <div class="footer clearfix">

                                <div class="share-box">
                                    <div class="icons">

                                        <a href="#" class="icon1-facebook"></a>
                                        <a href="#" class="icon1-twitter"></a>
                                        <a href="#" class="icon3-pinterest"></a>
                                        <a href="#" class="icon1-google-plus"></a>

                                    </div>
                                </div>

                                <div class="navigation">
                                    <a href="#" class="prev icon4-leftarrow23"></a>
                                    <a href="#" class="back icon4-noun_7231"></a>
                                    <a href="#" class="next icon4-chevrons"></a>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
                <!-- End Portfolio -->

            </div>
            <!-- End Inner Wrapper -->

        </div>
        <!-- End Wrapper -->

    </div>
    <!-- End Content -->
{% endblock content %}